<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <!-- <app-dpi></app-dpi> -->
    <!-- navbar menu -->
    <router-outlet></router-outlet>

<!-- 
     Option 1: Bootstrap Bundle with Popper 
    <script src="bs5/dist/js/bootstrap.bundle.min.js"></script>

    <script src="icon/js/all.min.js"></script>
    <script src="js/onscroll.js"></script> -->


</body>

</html>