<div class="container" style="margin-top: 50px">
  <div class="row">
    <div class="col-sm-4">
      <div class="card-sl">
        <div class="card-image">
          <img src="../../../assets/domestic-cat_thumb_square.jpg" />
        </div>

        <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
        <div class="card-heading">9atous</div>
        <div class="card-text">Content</div>
        <div class="card-text">Status : Lost</div>
        <button
          type="button"
          class="card-button button"
          (click)="triggerModal(modalData)"
        >
          Consult
        </button>

        <ng-template #modalData let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Lost Cat</h4>
          </div>
          <div class="modal-body">
            <img
              src="../../../assets/domestic-cat_thumb_square.jpg"
              alt=""
              height="250px"
              width="250px"
            />
            <p style="float: right;">
              <strong>9atous <span class="text-primary">"Dhaya3"</span></strong>
            </p>
            <br>
            <br>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged.
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
            >
            <a href="Announces/Details">details</a>
              More Details ...
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="modal.close('Save click')"
            >
              Close
            </button>
          </div>
        </ng-template>
      </div>
    </div>


    <div class="col-sm-4">
      <div class="card-sl">
        <div class="card-image">
          <img src="../../../assets/domestic-cat_thumb_square.jpg" />
        </div>

        <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
        <div class="card-heading">9atous</div>
        <div class="card-text">Content</div>
        <div class="card-text">Status : Lost</div>
        <button
          type="button"
          class="card-button button"
          (click)="triggerModal(modalData)"
        >
          Consult
        </button>

        <ng-template #modalData let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Lost Cat</h4>
          </div>
          <div class="modal-body">
            <img
              src="../../../assets/domestic-cat_thumb_square.jpg"
              alt=""
              height="250px"
              width="250px"
            />
            <p style="float: right;">
              <strong>9atous <span class="text-primary">"Dhaya3"</span></strong>
            </p>
            <br>
            <br>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged.
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              >
              More Details ...
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="modal.close('Save click')"
            >
              Close
            </button>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card-sl">
        <div class="card-image">
          <img src="../../../assets/domestic-cat_thumb_square.jpg" />
        </div>

        <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
        <div class="card-heading">9atous</div>
        <div class="card-text">Content</div>
        <div class="card-text">Status : Lost</div>
        <button
          type="button"
          class="card-button button"
          (click)="triggerModal(modalData)"
        >
          Consult
        </button>

        <ng-template #modalData let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Lost Cat</h4>
          </div>
          <div class="modal-body">
            <img
              src="../../../assets/domestic-cat_thumb_square.jpg"
              alt=""
              height="250px"
              width="250px"
            />
            <p style="float: right;">
              <strong>9atous <span class="text-primary">"Dhaya3"</span></strong>
            </p>
            <br>
            <br>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged.
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              >
              More Details ...
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="modal.close('Save click')"
            >
              Close
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
