<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<app-nav-bar></app-nav-bar>
<br />
<br />
<br />
<br />
<h1>Announces</h1>
<br />

<div class="container">
  <div class="row">
    <!-- BEGIN SEARCH RESULT -->
    <div class="col-md-12">
      <div class="grid search">
        <div class="grid-body">
          <div class="row">
            <!-- BEGIN FILTERS -->
            <div class="col-md-3">
              <h2 class="grid-title"><i class="fa fa-filter"></i> Filters</h2>
              <hr />

              <!-- BEGIN FILTER BY CATEGORY -->
              <h4>By category:</h4>
              <br />
              <div class="checkbox">
                <label><input type="checkbox" class="icheck" /> Cats</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" class="icheck" /> Dogs</label>
              </div>
              <!-- END FILTER BY CATEGORY -->

              <div class="padding"></div>
              <br />
              <!-- BEGIN FILTER BY DATE -->
              <h4>By date:</h4>
              From
              <div
                class="input-group date form_date"
                data-date="2014-06-14T05:25:07Z"
                data-date-format="dd-mm-yyyy"
                data-link-field="dtp_input1"
              >
                <input type="date" class="form-control" />
              </div>
              <input type="hidden" id="dtp_input1" value="" />

              To
              <div
                class="input-group date form_date"
                data-date="2014-06-14T05:25:07Z"
                data-date-format="dd-mm-yyyy"
                data-link-field="dtp_input2"
              >
                <input type="date" class="form-control" />
              </div>
              <input type="hidden" id="dtp_input2" value="" />
              <!-- END FILTER BY DATE -->

              <div class="padding"></div>

              <!-- END FILTER BY PRICE -->
            </div>
            <!-- END FILTERS -->
            <!-- BEGIN RESULT -->
            <div class="col-md-9">
              <h2><i class="fa fa-file-o"></i> Result</h2>
              <hr />
              <!-- BEGIN SEARCH INPUT -->
              <div class="input-group">
                <input type="text" class="form-control" value="" />
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>

              <div class="padding"></div>

              <div class="row">
                <!-- BEGIN ORDER RESULT -->
                <div class="col-sm-6">
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-default dropdown-toggle"
                      data-toggle="dropdown"
                    >
                      Order by <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Name</a></li>
                      <li><a href="#">Date</a></li>
                    </ul>
                  </div>
                </div>
                <!-- END ORDER RESULT -->

                <div class="col-md-6 text-right">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default active">
                      <i class="fa fa-list"></i>
                    </button>
                    <button type="button" class="btn btn-default">
                      <i class="fa fa-th"></i>
                    </button>
                  </div>
                </div>
              </div>
              <app-announces></app-announces>
            </div>
            <!-- END RESULT -->
          </div>
        </div>
      </div>
    </div>
    <!-- END SEARCH RESULT -->
  </div>
</div>