<app-nav-bar></app-nav-bar>
<div class="container">

    <br><br><br>

    <div class="row mt-5 mb-5">

        <div class="col-lg-12 gambar">
            <img src="../../assets/n1572900.png" width="100%">
        </div>

        <div class="col-sm-12 position-relative p-4">

            <div class="position-absolute top-0 end-0">
                <img src="../../assets/n1572900.png" class="img">
            </div>

            <h2 class="display-1 text-truncate tebel-sedang">Nothing will be lost</h2>
            <h2 class="display-1 text-truncate tebel-sedang">From You </h2>

            <div class="desc mt-4">
                <p>Lost & Found is A Tunisian Website that helps you find your lost things in easy and more efficient ways. </p>
            </div>

            <div class="mt-5">
                <a routerLink="/Login" class="button rounded-pill shadow tebel-sedang">Join Us</a>
            </div>

            <br>

            <div class="mt-5">
                <a href="#" class="btn rounded-circle bg-custom shadow tebel-sedang me-2"><i
                        class="fab fa-instagram"></i></a>
                <a href="#" class="btn rounded-circle bg-custom shadow tebel-sedang me-2"><i
                        class="fab fa-twitter"></i></a>
                <a href="#" class="btn rounded-circle bg-custom shadow tebel-sedang"><i
                        class="fab fa-facebook-f"></i></a>
            </div>

        </div>

    </div>

</div>
